.main {
  background-color: black;
}

.sidebar {
  width: 200px;
  position: fixed;
  top: 113px;
  z-index: 1;
  transform: translateX(-200px);
  background: violet;
  height: 100%;
  transition: all 0.5s;
  box-shadow: 0.3px 2px 1px rgb(83, 83, 83);
}
.sidebar.open {
  transform: translateX(0);
}
.scrollable-menu {
  max-height: 130px;
  overflow-x: hidden;
  max-width: 70px !important;
}
.dropdown {
  background: #3a0353;
  box-shadow: 0.3px 0.3px 1px black;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
}
.dropdown-menu {
  max-width: 70px !important;
}
.hidden {
  display: none;
}

.separador {
  height: 10px;
  margin-top: 15%;
}
@media (max-width: 600px) {
  .separador {
    height: 10px;
    padding-bottom: 180px;
  }
}

#nav-icon1 {
  position: initial;
  width: 50px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transform: scale(0.8);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.central {
  position: absolute;
  top: 400%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  cursor: pointer;
  background-color: violet;

  width: 100%;
  align-items: center;
  justify-content: center;
}
.icon {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 40px;
  border-radius: 50px;
  transition: all 0.8s;
}

.icon:hover {
  background: #e68073;
  box-shadow: 0 0 20px #e68073;
}

.icon:hover:nth-child(2) {
  background: #1877f2;
  box-shadow: 0 0 20px #1877f2;
}
.icon:hover:nth-child(3) {
  background: #25d366;
  box-shadow: 0 0 20px #25d366;
}
.icon i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg circle {
  top: -70px !important;
  stroke-dasharray: 150;
  transition: all 0.8s;
}
.icon:hover svg circle {
  stroke-dasharray: 220;
}

.container {
  padding-top: 150px;
  padding-bottom: 150px;
}

.faq-nav {
  flex-direction: column;
  margin: 0 0 32px;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}
.faq-nav .nav-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 13px 16px;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  color: #616161;
  transition: background-color 0.2s ease;
}

.faq-nav .nav-link:hover {
  background-color: #f6f6f6;
}

.faq-nav .nav-link.active {
  background-color: #f6f6f6;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}

.faq-nav .nav-link:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: 0;
}

.faq-nav .nav-link i.mdi {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
}

.tab-content {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

.tab-content .card {
  border-radius: 0;
}

.tab-content .card-header {
  padding: 15px 16px;
  border-radius: 0;
  background-color: #f6f6f6;
}
.tab-content .card-header h5 {
  margin: 0;
}
.tab-content .card-header button {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  white-space: normal;
}
.tab-content .card-header button:hover,
.tab-content .card-header button:focus,
.tab-content .card-header button:active,
.tab-content .card-header button:hover:active {
  text-decoration: none;
}

.card-body p {
  color: #616161;
}
.card-body p:last-of-type {
  margin: 0;
}

.accordion > .card :not(:first-child) {
  border-top: 0;
}

.collapse.show .card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
body {
  background-color: black;
}
