.sidebar {
  width: 200px;
  position: fixed;
  top: 113px;
  z-index: 1;
  transform: translateX(-200px);
  background: violet;
  height: 100%;
  transition: all 0.5s;
  box-shadow: 0.3px 2px 1px rgb(83, 83, 83);
}
.sidebar.open {
  transform: translateX(0);
}
.scrollable-menu {
  max-height: 130px;
  overflow-x: hidden;
  max-width: 70px !important;
}
.dropdown {
  background: #3a0353;
  box-shadow: 0.3px 0.3px 1px black;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
}
.dropdown-menu {
  max-width: 70px !important;
}
.hidden {
  display: none;
}

.separador {
  height: 10px;
  margin-top: 15%;
}
@media (max-width: 600px) {
  .separador {
    height: 10px;
    padding-bottom: 180px;
  }
}

#nav-icon1 {
  position: initial;
  width: 50px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transform: scale(0.8);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.central {
  position: absolute;
  top: 300%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  cursor: pointer;
  background-color: violet;

  width: 100%;
  align-items: center;
  justify-content: center;
}
.icon {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 40px;
  border-radius: 50px;
  transition: all 0.8s;
}

.icon:hover {
  background: #e68073;
  box-shadow: 0 0 20px #e68073;
}

.icon:hover:nth-child(2) {
  background: #1877f2;
  box-shadow: 0 0 20px #1877f2;
}
.icon:hover:nth-child(3) {
  background: #25d366;
  box-shadow: 0 0 20px #25d366;
}
.icon i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg circle {
  top: -70px !important;
  stroke-dasharray: 150;
  transition: all 0.8s;
}
.icon:hover svg circle {
  stroke-dasharray: 220;
}
