.header {
  height: 80px;
  width: 100%;
  background: violet;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.3px 0.3px 1.2px rgb(119, 118, 118);
  z-index: 1;
  position: fixed;
}
.searchbar {
  margin-right: 3%;
}

.marca {
  padding: 20px;
}

.marca button {
  transform: scale(1.4);
}

.brand {
  margin: auto;
  transform: scale(1.8);
}

.brand a {
  font-family: Roboto-Medium;
  color: black;
  font-weight: 800;
  -webkit-text-stroke: 0.5px white;
  text-shadow: 0.3px 0.3px 1px white;
  text-decoration: none;
}
.brand a:last-of-type {
  margin: auto;
  font-size: xx-large;
}
.brandButton {
  font-size: 100%;
  padding: 0.5rem;
  background: none;
  border: none;
  outline: none !important;
  color: black;
  cursor: pointer;
  margin-left: 5%;
  max-height: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  text-shadow: 0.3px 0.3px 1.5px rgb(0, 0, 0);
}

@media (max-width: 600px) {
  .header {
    height: 80px;
    width: 100%;
    background: violet;
    display: flex;
    align-items: center;
    box-shadow: 0.3px 0.3px 1.2px rgb(119, 118, 118);
    z-index: 1;
  }
  .brand {
    display: flex;
    margin: auto;
    padding-right: 25px;
  }
  .brand a {
    margin: auto;
    text-shadow: -1px 2px 0 white;
  }

  .searchbar {
    display: none;
  }
  .brandButton {
    font-size: 100%;
    padding: 0.5rem;
    background: none;
    border: none;
    outline: none !important;
    color: black;
    cursor: pointer;
    margin-left: 5%;
    max-height: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-shadow: 0.3px 0.3px 1.5px rgb(0, 0, 0);
  }
  .brand a:last-of-type {
    margin: 0;
    font-size: xx-large;
  }
}
